@using NutsShop_Presentation.Areas.SitePanel.ViewModels
@model CartViewModel;


@{
    Layout = "_SiteLayout";
}


<html lang="en">


<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        display: flex;
        justify-content: center;
        max-width: 800px;
        margin: 20px auto;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    .product-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }


        .product-list button {
            background-color: red;
        }

    table {
        width: 100%;
        background-color: white border-collapse: collapse;
    }



    th, td {
        font-size: larger;
        padding: 8px;
        text-align: left;
        border-bottom: 2px solid dimgray;
    }

    th {
        background-color: #f2f2f2;
    }

    .timage {
        width: 150px;
        height: 150px;
    }

    .Continuebtn {
        width: 60%;
        height: 50px;
        background-color: dodgerblue;
    }
</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <link rel="stylesheet" href="styles.css">
</head>



<body>
    <div class="container">

        <h1>سبد خرید</h1>

        <div class="product-list">


            @if (Model.OrderDetailDTOs.Count != 0)
            {

                <table>

                    <tr>

                        <th></th>
                        <th>محصول</th>
                        <th>مقدار</th>
                        <th>قیمت</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.OrderDetailDTOs)
                    {
                        <tr>
                            <td>
                                <img class="timage" src="~/Images/Products/@item.ProductImage" alt="محصول 1">

                            </td>

                            <td>@item.Producttitle</td>
                            <td>@item.Weight</td>


                            <td>@item.Price</td>

                            <td>
                                <button>
                                    <a asp-area="SitePanel" asp-controller="User" asp-action="RemoveOrderDetail"
                                       asp-route-Id="@item.Id">Remove</a>
                                </button>
                            </td>
                        </tr>

                    }

                    <tr>
                        <td>جمع حساب</td>
                        <td>@Model.OrderDTO.Sum</td>
                    </tr>

                </table>




                <button class="Continuebtn"><a>ادامه</a></button>

            }

            else
            {
                <h1>No Order</h1>
            }



            <!-- ادامه محصولات -->
        </div>

    </div>
</body>

</html>