@using Application.Dtos.CategoryDTO
@using Application.Dtos.ShopDTO
@using NutsShop_Presentation.Areas.SitePanel.ViewModels
@model IndexViewModel;

@{
    Layout = "_SiteLayout";
}

@{
    var Shop = TempData["Shop"] as ShopDTO;
}


<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
    <title>BootStrap</title>
</head>

<style>

    body {
        padding-top: 70px;
        background-color: #FFFAFA;
    }

    .navbar {
        background-color: #555;
        padding: 10px 20px;
        color: #fff;
    }


    a {
        font-family: Arial, sans-serif;
        text-decoration: none;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }

    .carousel .item {
        height: 300px;
    }

    .Categories {
        background-color: #555;
    }

    .carouselborder {
        border-radius: 5px;
    }

    .products {
        background-color: #555;
        flex-wrap: wrap;
    }

    .product {
        margin: 20px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        text-align: center;
    }

        .product img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        .product h3 {
            margin-bottom: 10px;
        }

        .product p {
            margin-bottom: 10px;
        }

        .product span {
            display: block;
            margin-bottom: 10px;
        }

        .product button {
            background-color: #333;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .product button:hover {
                background-color: #555;
            }



    .Footer a {
        color: #fff !important;
    }

    .Footer {
        background-color: #555;
    }

</style>

<body class="" dir="rtl">


    <hr></hr>
    <!--Intro-->
    <div class="Intro m-5">

        <div class="container-fluid">

            <div class="row justify-content-center">

                <div style="border-radius: 15px;" class="col-12 col-sm-6 bg-light p-4">
                    <h4>@Shop.IntroTitle</h4>
                    <p class="lead">@Shop.IntroDescription</p>
                </div>

                <div style=" border-radius: 15px;" class="col-6 	d-none d-sm-block bg-dark-light">

                    <img style="border-radius: 15px;" class=" img-fluid" src="~/Images/Intro/@Shop.IntroImage"></img>
                </div>

            </div>

        </div>


    </div>

    <hr></hr>

    <!--Categories-->

    <div class="Categories p-3 justify-content-center">

        <div class="w-50 container-md">

            <div id="carouselExampleCaptions" class="carousel">



                <div class="carousel-inner carouselborder">


                    @foreach (var item in Model.CategoryDTOs)
                    {
                        <div class="carousel-item active">
                            <img src="~/Images/Categories/@item.Image" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@item.CategoryTitle</h5>
                            </div>
                        </div>
                    }




                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>

        </div>

    </div>

    <hr></hr>

    <!--Product-->

    <div class="products justify-content-center">

        <div class="container-fluid">

            <div class="row justify-content-center">

                @foreach (var item in Model.ProductsDTOs)
                {
                    <div class="product card" style="width: 18rem;">
                        <img src="~/Images/Products/@item.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">@item.ProductName</p>
                            <p class="card-text">@item.Price</p>
                            <a asp-area="SitePanel" asp-controller="Home" asp-action="ShowProduct" asp-route-Id="@item.Id">   <button>خرید</button></a>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>

    <!--About Us-->
    <div class="AboutUs m-2">

        <div class="container-fluid p-1">

            <div class="accordion accordion-flush" id="accordionFlushExample">

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            @Shop.WhyNutsTitle
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            @Shop.WhyNutsDescription
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            @Shop.WhyUsTitle
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">

                        <div class="accordion-body">
                            @Shop.WhyUsDescription
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            @Shop.WhyUsTitle2
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            @Shop.WhyUsDescription2
                        </div>
                    </div>
                </div>
            </div>



        </div>




    </div>




</body>

</html>






