@using NutsShop_Presentation.Areas.AdminPanel.ViewModels
@model EditUserViewModel;

@{
    Layout = "_AdminLayout";
}




<head>

    <noscript>

        <style>

            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }

        </style>


    </noscript>

</head>



<style>

    .maincontainer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: gray;
        padding: 1px;
    }

    .inputcontainer {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgb(224, 224, 224);
        padding: 10px;
    }

    .img {
        margin: 20px;
        width: 300px;
        height: 300px;
    }

    .Roles {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        background-color: rgb(224, 224, 224);
        padding: 10px;
    }

    .btn {
        margin: 20px;
    }

    .title
    {
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
 
<body>

    <div class="title">
        <h1>ویرایش کاربر</h1>
    </div>
 

    <div class="maincontainer">

     



        <form class="maincontainer" method="post" asp-area="AdminPanel" asp-controller="Admin" asp-action="EditUser" enctype="multipart/form-data">

            <div class="row">

                <div class="inputcontainer">
                    <label>Id</label>
                    <input readonly class="form-control" style="margin: 10px" type="text"
                           asp-for="@Model.UserAdminPanelDTO.Id" placeholder="Product Name" required="">
                </div>


                <!--User Name-->

                <div class="inputcontainer">
                    <label>UserName</label>
                    <input class="form-control" style="margin: 10px" type="text"
                           asp-for="@Model.UserAdminPanelDTO.UserName" placeholder="Product Name" required="">
                </div>


                <!--Phone-->

                <div class="inputcontainer">

                    <label>Phone</label>
                    <textarea class="form-control" style="margin: 10px" type="text" asp-for="@Model.UserAdminPanelDTO.Phone" placeholder="Description" required=""></textarea>

                </div>

                <br>

              


            </div>


          



            <div class="Roles">



                @if (Model.Roles != null)
                {


                    @foreach (var item in Model.Roles)
                    {

                        <label>@item.RoleTitle</label>
                        <input type="checkbox" value="@item.Id" name="SelectedRoles" />
                        <br></br>

                    }



                }

            </div>

            <div>
                <button class="btn" type="submit">Edit information</button>
            </div>

        </form>




    </div>

    <hr style="height: 5px; color: black;"></hr>

</body>


