@using NutsShop_Presentation.Areas.AdminPanel.ViewModels
@model GetOrderDetailsViewModel;

@{
    Layout = "_AdminLayout";
}



<head>

    <noscript>

        <style>

            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }

        </style>


    </noscript>

</head>



<body>

    <div class="InputContainer" style="display: flex; flex-direction: column;align-content: center; justify-content: center; align-items: center;">

        <div style="display:flex; align-items: center; margin-top: 20px;">
        </div>



        <div>

            <div class="contant-section px-3 px-lg-4 pb-4" id="contact">

                <table>

                    <tr>

                        <th></th>
                        <th>محصول</th>
                        <th>مقدار</th>
                        <th>قیمت</th>
                        <th></th>

                    </tr>

                    @foreach (var item in Model.orderDetails)
                    {
                        <tr>
                            <td>
                                <img class="timage" src="~/Images/Products/@item.ProductImage" alt="محصول 1">

                            </td>

                            <td>@item.Producttitle</td>
                            <td>@item.Weight</td>


                            <td>@item.Price</td>

                           

                        </tr>

                    }

                    <tr>
                        <td>جمع حساب</td>
                        <td>@Model.OrderDTO.Sum</td>
                    </tr>

                </table>



                <h1>مجموع</h1>
                <h1>@Model.OrderDTO.Sum</h1>


            </div>

        </div>


    </div>

    <hr style="height: 5px; color: black;"></hr>

</body>

<script>

    const fileInput = document.getElementById('UserAvatarIFromFIle');

    const image = document.getElementById('image');

    fileInput.addEventListener('change', function () {

        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            image.src = e.target.result;
        }

        reader.readAsDataURL(file);
    });

</script>
