@using NutsShop_Presentation.Areas.AdminPanel.ViewModels
@model GetOrderDetailsViewModel

@{
    Layout = "_AdminLayout";
}




<html lang="fa">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جدول محصولات</title>
    <link rel="stylesheet" href="style.css">

</head>


<style>




    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    th, td {
        padding: 15px;
        text-align: center;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }



    .btn {
        height: 40px;
        width: 40%;
    }

    .Addbtn {
        margin: 30px;
        height: 40px;
        width: 40%;
    }

    .location {
        display: flex;
        flex-direction: column;
        background-color: gray;
        border-radius: 10px;
        border: 2px #333;
        margin: 20px;
        padding: 20px;
    }

    .labecontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 90%;
        margin: 20px;
        background-color: #f2f2f2;
    }

</style>


<body>


    <h1> جزییات سفارش </h1>


    <div class="container">


        <table>

            <tr>

                <th></th>
                <th>نام محصول</th>
                <th>وزن</th>
                <th>مبلغ</th>

            </tr>


            @if (Model.orderDetails != null &&
            Model.OrderDTO != null)
            {

                @foreach (var item in Model.orderDetails)
                {
                    <tr>

                        <td>
                            <img src="~/Images/Products/@item.ProductImage" />
                        </td>

                        <td>@item.Producttitle</td>
                        <td>@item.Weight</td>
                        <td>@item.Price</td>

                    </tr>

                }

            }

        </table>

        <h4>مجموع</h4>
        <h4>@Model.OrderDTO.Sum</h4>

    </div>

    <h1>اطلاعات مشتری</h1>

    <div class="location">



        @if (Model.LocationDTO != null)
        {
            <div class="labecontainer">
                <label>FirstName: </label>
                <label>@Model.LocationDTO.FirstName</label>
            </div>

            <div class="labecontainer">
                <label>LastName: </label>
                <label>@Model.LocationDTO.LastName</label>
            </div>


            <div class="labecontainer">
                <label>PhoneNumber: </label>
                <label>@Model.LocationDTO.PhoneNumber</label>
            </div>


            <div class="labecontainer">
                <label>state: </label>
                <label>@Model.LocationDTO.State</label>
            </div>


            <div class="labecontainer">
                <label>City: </label>
                <label>@Model.LocationDTO.City</label>
            </div>


            <div class="labecontainer">
                <label>Address: </label>
                <label>@Model.LocationDTO.Address</label>
            </div>


            <div class="labecontainer">
                <label>PostCode: </label>
                <label>@Model.LocationDTO.PostCode</label>
            </div>


        }



    </div>

</body>

</html>



